@import './../../styles/constants.styles.scss';

.content-container {

    width: 95vw;

    .content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        .item-wrapper {

        }
    }
}