<div routerLink = "/explore" routerLinkActive="active">

    <div class="content-container">

        <!-- Featured Article -->

        <div class="featured">
            <app-sponge-animation></app-sponge-animation>
        </div>

        <!-- Content Display: Array of PostObject Tiles -->
        <div class="content">
            <!-- Render post tiles -->
            <div *ngFor = "let post of allPosts" class="item-wrapper">
                <app-post-tile [postRef]="post" (click)="openTile(post)"></app-post-tile>
            </div>
        </div>
    </div>
</div>