<div routerLink = "/explore" routerLinkActive="active">

    <div class="content-container">

        <!-- Featured Article -->

        <div class="featured">
            <div class="featured-left">
                <div class="featured-text-container">
                    <h1>Welcome to &lt;DevJourney/&gt;</h1>
                    <h2>"The possession of knowledge does not kill the sense of wonder and mystery. There is always more mystery."</h2>
                    <p>- Anais Nin</p>
                </div>
                <app-sponge-animation></app-sponge-animation>
            </div>
            <div class="featured-right">
                <!-- <div class="div" style="width: 600px; height: 800px; background-color: whitesmoke;"></div> -->
            </div>
        </div>

        <!-- Content Display: Array of PostObject Tiles -->
        <div class="content">
            <!-- Render post tiles -->
            <div *ngFor = "let post of allPosts" class="item-wrapper">
                <app-post-tile [postRef]="post" (click)="openTile(post)"></app-post-tile>
            </div>
        </div>
    </div>
</div>