@import './../../styles/constants.styles.scss';

$padding-outer: 22.5em;

.content-container {

    width: 95vw;

    .featured {
        height: 75vh;
        border: $dark-border;

        display: flex;
        align-items: center;
        justify-content: center;

        color: white;
        font-family: Arial, Helvetica, sans-serif;

        padding: 0 $padding-outer 0 $padding-outer;

        margin: 0 5em 1em 5em;

        .featured-left {
            display: flex;
            align-items: center;

            .featured-text-container {
                h1 {
                    font-size: 3.5rem;
                }
                h2 {
                    font-size: 1.5rem;
                    font-style: italic;
                    font-family: $lora-font;
                }
                p {
                    float: right;
                    font-family: $lora-font;
                }
            }
        }
    }

    .content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
}