@import './../../styles/constants.styles.scss';

$padding-outer: 22.5em;

.content-container {

    width: 100%;

    .featured {
        height: 75vh;
        border: $dark-border;

        display: flex;
        align-items: center;
        justify-content: center;

        color: white;
        font-family: Arial, Helvetica, sans-serif;

        padding: 0 $padding-outer 0 $padding-outer;

        margin: 5em 5em 5em 5em;

        .featured-wrapper {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            .featured-text-container {
                h1 {
                    font-size: 3.5rem;
                }
                h2 {
                    font-size: 1.5rem;
                    font-style: italic;
                    font-family: $lora-font;
                }
                p {
                    float: right;
                    font-family: $lora-font;
                }
            }

            .button-group {

                display: flex;
                flex-flow: row nowrap;
                justify-content: space-evenly;

                button {
                    height: 7.5em;
                    width: 15em;

                    background-color: #3A5C79;

                }
            }
        }


        
    }

    .content {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-items: center;

        background-color: whitesmoke;

        padding-top: 10em;
        padding-bottom: 10em;

        .item-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 75vw;

            margin-top: 2.5em;
            margin-bottom: 2.5em;

            .post-image {
                width: 25vw;
                height: 500px;
                margin-right: 2.5em;
            }

            .post-description {
                width: 50vw;
                height: 500px;
                margin-left: 2.5em;

                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            }
        }
    }
}