.main {
    height: 100%;
    width: 100%;

    .sub {
        display: flex;

        .side-nav {
            width: 25vw;
        }

        .panel-right {
            width: 25vw;
        }
    }
}