@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

// Fonts
$lora-font: 'Lora', serif;
$spartan-font: 'Spartan', sans-serif;
$manrope-font: 'Manrope', sans-serif;

// Dev Constants
$show-border: 1px;

$global-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
// $global-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

// Color Palette
$light-1: #F8F9FA;
$light-2: #e9ecef;
$light-3: #dee2e6;

$med-1: #ced4da;
$med-2: #adb5bd;
$med-3: #6c757d;

$dark-1: #495057;
$dark-2: #343a40;
$dark-3: #212529;
