<div class="main">
    <mat-drawer-container class="drawer-container">
        <mat-drawer #drawer class="sidenav" mode="side" opened="true">
          <p>Design Patterns</p>
          <div *ngFor = "let contentObj of contents"> {{ contentObj.objName }} </div>
        </mat-drawer>
      
        <div class="sidenav-content">
          <div class="side-nav-post">
            <div markdown [src]="'./assets/posts/primitive-obsession/primitive-obsession.md'"></div>
          </div>
        </div>
      
      </mat-drawer-container>
</div>
