/* You can add global styles to this file, and also import other style files */
@import './app/styles/constants.styles.scss';

html {
    height: 100%;
    font-family: $lora-font;
}

body {
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
