@import './../../styles/constants.styles.scss';

.tile-container {

    border: $dark-border;
    border-radius: 0.5em;

    background-color: whitesmoke;

    .tile {
        padding: 5em;

        .tile-header {
            margin-bottom: 2.5em;
        }

        .tag-container {
            color: #0000;
        }

    }
}

.tile-container:hover {
    cursor: pointer;
}