@import './../../styles/constants.styles.scss';

$header-size: 1.33rem;
$sub-header-size: 0.85rem;
$outer-padding: 2.5em;

.nav-container {

    font-family: $manrope-font;
    border: $show-border solid #ffff;
    border-bottom: 1px solid #21232B;

    .nav-main {
        height: 7.5vh;

        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .left {
            width: 33.3vw;
            border: $show-border solid #ffff;

            display: flex;
            align-items: center;
            justify-content: space-evenly;

            margin-left: $outer-padding;

            .header {
                font-size: $header-size;
            }

            .sub-item {
                font-size: $sub-header-size;
            }
        }

        .right {
            border: $show-border solid #ffff;

            width: 33.3vw;

            display: flex;
            align-items: center;
            
            justify-content:flex-end;

            margin-right: $outer-padding;
        }
    }
}