@import './../../styles/constants.styles.scss';

$header-size: 1.5rem;
$sub-header-size: 0.85rem;
$outer-margin: 10em;
$inner-margin: 30em;

.nav-container {

    font-family: $spartan-font;

    .nav-main {
        height: 7.5vh;

        display: flex;
        align-items: center;
        
        .left {
            width: 25vw;
            border: 2px solid #ffff;

            display: flex;
            align-items: center;
            justify-content: space-evenly;

            margin-left: $outer-margin;
            margin-right: $inner-margin;

            .header {
                font-size: $header-size;
            }

            .sub-item {
                font-size: $sub-header-size;
            }
        }

        .right {
            border: 2px solid #ffff;

            width: 25vw;

            display: flex;
            align-items: center;
            
            justify-content: flex-end;

            margin-left: $inner-margin;
            margin-right: $outer-margin;
        }
    }
}