<div class="nav-container">
    <div class="nav-main">

        <!-- flex left -->
        <div class="left">
            <h1 class="header">{{ titleText }}</h1>
            <div class="sub-item">{{ numReaders }} Followers </div>
            <div class="sub-item">About</div>
            <button class="sub-item sub-item-container" mat-stroked-button>Subscribe</button>
        </div>

        <!-- flex right -->
        <div class="right">
            <div class="darkmode-toggle">
                <mat-slide-toggle [(ngModel)]="viewModeState" (ngModelChange) = "setDarkModeState()">{{ viewMode }}</mat-slide-toggle>
            </div>
            <!-- <img class="logo" src = "./../../../assets/images/seedling_1f331.png" height = "33.3px"> -->
        </div>
    </div>
</div>